<html>
    <head><title>Hindustani release: {{release.title}}</title></head>
    <body>
<h1>{{release.artist}} - {{release.title}}</h1>
<a href="{%url h-home %}">Return to list</a><p>

<div style="float:left;">
<table>
    <tr><th>disc</th><th>track</th><th>Title</th></tr>
    {%for tr in tracks %}
    <tr><td>{{tr.disc}}</td><td>{{tr.position}}</td><td>{{tr.name}}</td></tr>
    {% endfor %}
</table>
</div><div style="float:left;">
<img src="{%url h-image releaseid=release.id %}" width="300px">
</div>
<div style="clear:both; padding-top:20px;">
{% if release.mbid %}

<p>Release id : {{release.mbid}}<br>
<a href="http://musicbrainz.org/release/{{release.mbid}}">View on musicbrainz</a>
<p>
{% for rel in rels %}
   <p>{{rel.artist}}<br>
   {{rel.instrument}}

{% endfor %}

{% else %}
    <form method="POST" action="http://musicbrainz.org/release/add" target="_blank">
        <input type="hidden" name="name" value="{{release.title}}">
        <input type="hidden" name="type" value="album">
        <input type="hidden" name="type" value="live">
        <input type="hidden" name="status" value="Official">
        <input type="hidden" name="language" value="mul">
        <input type="hidden" name="script" value="latn">
        <input type="hidden" name="country" value="IN">
        <input type="hidden" name="edit_note" value="">
        <input type="hidden" name="artist_credit.names.0.name" value="{{release.artist}}">
        {% for i in numdiscs %}
        <input type="hidden" name="mediums.{{i}}.format" value="CD">
        {% endfor %}
        {% for tr in release.track_set.all %}
        <input type="hidden" name="mediums.{{tr.disc|add:-1}}.track.{{tr.position|add:-1}}.name" value="{{tr.name}}">
        <input type="hidden" name="mediums.{{tr.disc|add:-1}}.track.{{tr.position|add:-1}}.length" value="{{tr.length}}">
            {% endfor %}
        <input type="submit" value="Add release to musicbrainz">
    </form>
    <form method="POST">{% csrf_token %}
        When release is created, put its releaseid here: <input type="text" name="releaseid">
        <input type="submit" name="submit" value="Update release">
    </form>

    {% endif %}
</div>
</body>
</html>
